/* Link Styles */
a:link, a:visited, a:hover, a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* Body and Headings */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(137, 207, 240); /* Baby blue color */
  color: black; /* Black text color */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2 {
  text-align: center;
  color: black;
}

/* Search Container */
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 205, 125);
  color: black;
  font-size: 16px;
  outline: none;
}

/* Button Container */
.button-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center;
  text-decoration: none;
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 15px 20px;
  background-color: white;   /* White button */
  color: black;              /* Black text */
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  max-width: 200px;
  width: 100%;
}

.button:hover {
  background-color: rgb(25, 138, 213); /* Blue on hover */
  color: white;                        /* White text on hover */
}

.button img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.button-container1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#faviconSelection img {
  width: 128px;
  height: auto;
  display: inline-block;
}

.ribbon {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: red;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  transform: rotate(-15deg);
  z-index: 1;
}
